<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <meta name="author" content="<%= author %>">
      <meta charset="utf-8">
      <link rel="shortcut icon" href="favicon.ico">
      <link href="print.css" media="print" rel="stylesheet" type="text/css" />
      <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= key %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
   </head>
   <body>
      <div id="resume">
         <%= resume %>

         <small class="download">Download as <a href="resume.txt">plain text</a>.</small>
      </div>
   </body>
</html>
