<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <meta name="author" content="<%= author %>">
      <meta charset="utf-8">
      <link href="print.css" media="print" rel="stylesheet" type="text/css" />
      <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <div id="resume">
         <%= resume %>

         <small class="download">Download as <a href="resume.txt">plain text</a>.</small>
      </div>
   </body>
</html>
