<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Nat Welch's Resume</title>

    <!-- For dat mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "tachyons", "print" %>

    <style>
      /* Based on http://mrmrs.io/links/ */
      a, a:link, a:visited {
        transition: color .4s;
        color: #265C83;
      }

      a:hover {
        color: #7FDBFF;
      }

      a:active {
        transition: color .3s;
        color: #007BE6;
      }
    </style>
  </head>

  <body class="<%= page_classes %> black mw7 mw-100-print">
    <header class="pal">
      <div class="dt">
        <div class="dtc w3 prm prn-ns">
          <%= image_tag "logo.png", :class => "v-mid" %>
        </div>
        <div class="dtc v-mid w-100 plm">
          <h1 class="f2 ttu lh-title mvn">Nat Welch</h1>
          <h2 class="f4 ttu book mvs">Software Reconnaissance Engineer</h2>
          <p class="mvn mhn f5"><a href="mailto:nat@natwelch.com">nat@natwelch.com</a> <br class="dn-ns" /> <a href="tel:+17077998675">+1 707 799 8675</a></p>
        </div>
      </div>
    </header>

    <main class="phl ptn pbl">
      <p class="lh-copy mbn">Constantly exploring and learning about software and how it interacts with the world; I want to improve the way people communicate using technology. I am a full-stack web developer that enjoys experimenting with new things to help find interesting intersections in technology to help design beautiful and powerful ways for people to share knowledge, advice and experiences at scale.</p>

      <p class="lh-copy">Outside of the tech-world I am an Eagle Scout. I enjoy contributing to open source projects, reading, listening to music and wandering through cities and countrysides.</p>

      <h2 class="lh-title ttu book silver">Experience</h2>

      <h3 class="lh-title mbn mtm">Open Source Developer</h3>

      <p class="lh-copy">I currently am a contributor to the open source project <a href="http://fog.io">fog</a> and also a bunch of <a href="https://icco.github.io/">other small projects</a>.</p>

      <h3 class="mbn mtm">Google.com</h3>
      <p class="mvn lh-copy"><strong>Site Reliability Engineer</strong> April 2012 to March 2015.</p>

      <ul class="mlm mvs lh-copy">
        <li>SRE for <a href="https://cloud.google.com/compute/">Google Compute Engine</a> in London and San Francisco. My job included being part of an oncall rotation and writing software to maintain, monitor and optimize hundreds of thousands of servers globally. I also spent a decent amount of time analyzing processes used by the teams I worked closely with to try and automate people out of a job, myself included.</li>

        <li>While on SRE I also worked on <a href="https://cloud.google.com/storage/">Google Cloud Storage</a> and designed and built <a href="https://status.cloud.google.com/">Google Cloud Status</a>.</li>
      </ul>

      <p class="mvn lh-copy"><strong>Software Engineer</strong> August 2011 to September 2012. I worked on Punchd, Google Offers and Google Local in Mountain View, CA.</p>

      <h3 class="lh-title mbn mtm">Punchd, Mountain View, CA</h3>
      <p class="mvn lh-copy"><strong>Software Developer</strong> January 2011 to July 2011. Head of backend and operations until we were acquired by Google in July 2011.</p>

      <h3 class="lh-title mbn mtm">iFixit.com, San Luis Obispo CA</h3>
      <p class="mvn lh-copy"><strong>Software Developer</strong> April 2009 to April 2011.</p>

      <ul class="mlm mvs lh-copy">
        <li>Helped create a site-wide reputation community, which began with <a href="http://ifixit.com/Answers">iFixit.com/Answers</a>.</li>
        <li>Helped maintain various servers, located on Amazon EC2, and local development machines.</li>
        <li>Developed the first JavaScript widget for iFixit&#8217;s API.</li>
        <li>Redefined iFixit&#8217;s developer workflow.</li>
      </ul>

      <h3 class="lh-title mbn mtm">Adobe Systems Incorporated, San Francisco CA</h3>
      <p class="mvn lh-copy"><strong>Dreamweaver Quality Engineering Intern</strong> Summer 2007 and 2008.</p>

      <ul class="mlm mvs lh-copy">
        <li>Tested both daily builds and released versions of Dreamweaver against various operating systems - including Mac OSX 10.4, Mac OSX 10.5, Windows Vista, and Windows XP.</li>
        <li>Helped maintain the Server Matrix, Bug-base, and test a new test case application.</li>
        <li>Helped develop and test the Web Widgets Feature for Dreamweaver CS4, which won the &#8220;Dreamweaver Community Feature of the Year&#8221; award in 2008.</li>
      </ul>

      <h3 class="lh-title mbn mtm">County of Sonoma ISD, Santa Rosa CA</h3>
      <p class="mvn lh-copy"><strong>Intern</strong> Summer 2005. Built websites, maintained computer labs, and built a small ASP application that was used to view server availability for the entire county.</p>

      <h3 class="lh-title mbn mtm">BSA Camp Oljato, Lakeshore CA</h3>
      <p class="mvn lh-copy"><strong>Nature Director</strong> Summer 2006.</p>
      <p class="mvn lh-copy"><strong>Camp Counselor</strong> Summer 2002, 2003 and 2004.</p>

      <h2 class="lh-title ttu book silver">Education</h2>

      <p class="mvn lh-copy"><strong>Computer Science, B.S.</strong> California Polytechnic State University, San Luis Obispo. Fall 2006 - Spring 2011.</p>
      <p class="mvn lh-copy"><strong>Recurser</strong> Recurse Center, New York. Spring 2015</p>

      <h2 class="lh-title ttu book silver">Proficiencies</h2>

      <p class="mvn lh-copy"><strong>Code</strong>: Javascript, Ruby, Python, Go, SQL, PHP, Java, Bash, C, SML/NJ and F#</p>
      <p class="mvn lh-copy"><strong>Software</strong>: GCP, AWS, Photoshop, Vim, Linux, Docker, Postgres, MySQL and lots of cloud related things</p>
    </main>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-333449-7', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
